* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav{
  background-color: steelblue;
  padding: 10 px;  
}  
nav a{
  color: white; 
  display: block; 
  padding: 20 px;
}
h1{
  color: steelblue;  
}
img{
  width: 150 px; 
  height: auto;  
  border: 1px solid steelblue; 
  padding: 2px;
  box-shadow: 0 0 30px gray;
}
p{
 padding: 10px;   
}  
main{
  max-width: 840px;
}
aside{
    position: relative; /* Set container to relative positioning */
  aside h2 {
    position: absolute; /* Position heading absolutely */
    top: 10px; /* Adjust top position as needed */
    left: 10px; /* Adjust left position as needed */
    color: white; /* Ensure heading text is visible */
    background-color: rgba(0, 0, 0, 0.5); /* Add background color with transparency */
    padding: 5px; /* Add padding to the heading for better readability */
  }
  
  width: 20rem;
  margin: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.2); /* 1 */
  padding: 1rem;
  background-color: #eee;
  color: #333;
  text-align: center;
}
aside img{
  width: 200px;
  height: auto;
}
main img{
  float: right;
  width: 150px;
  height: auto;
  
}
p{padding: 0;}

footer{
  margin-top: 15px;
  border-top: 1px solid #000;
  text-align: center;
}
/* Class Selectors */
.box {
  margin: 1rem;
  border: 1px solid rgba(0,0,0,.1);
  padding: 1rem;
  background-color: #ddd;
  color: #000;
}